
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	background-color: #dadada;
}

.nav__header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
} 


.search-box {
    background: #000;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: all 0.5s ease;
}


.search-box__input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    padding: 20px 100px 20px 20px;
    font-size: 25px;
}
.search-box__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    outline: none;
}

.search-box.open {
    width: 400px;
    border-radius: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
.menu .login {
  float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.content__nav {
	margin: 20px auto;
	height: 70%;
	width: 80%;
	box-shadow: 0 0 10px #bbb;
}

.main {
	height: 85%;
	position: relative;
}

.control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 80px;
	color: white;
	cursor: pointer;
}

.prev {
	left: -10px;
}

.next {
	right: -10px;
}

.img-wrap {
	width: 100%;
	height: 100%;
	transition: 1s;
	
}

.list-img {
	display: flex;
  height: 100px;
}

.list-img div {
	cursor: pointer;
	padding: 5px;
	background-color: #bbb;
	flex: 1;
}

.list-img div.active {
	background-color: rgb(220, 86, 86);
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  
  .image {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .image:hover img {
    transform: scale(1.2);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
  }
  
  .gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.25s;
  }
  
  .gallery.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  
  .gallery-inner {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  
  .control {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }
  
  .close {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
  }
  
.hide {
    display: none;
}



.footer__nav {
  height: 200px;
  width: 100%;
  background-color: #dadada;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: black;
  cursor: pointer;          
}